@import "removal.css";
@import "bootstrap-grid.min.css";
@import "icons.css";
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0OIpQlx3QUlC5A4PNjhjRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjThZlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjFhdlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjOhBlYw.ttf) format('truetype');
}
* {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  color: #412F0E;
}
body {
  background-color: #ECECEC;
}
.container {
  background: none;
  width: 1200px;
  padding: 0;
}
.image {
  width: 100%;
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
header {
  display: flex;
  background-color: #B9AC92;
  height: 10vh;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  margin: 0 0 0 2.5vw;
}
.component-left .menu-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.menu-item:not(:last-child) {
  margin: 0 2.5vw 0 0;
}
.menu-link {
  font-weight: 400;
  font-size: 25px;
  line-height: calc(34 / 25 * 100%);
}
.component-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.component-right {
  display: flex;
  align-items: center;
  justify-content: right;
}
.like-basket {
  font-size: 40px;
  margin-left: 0.5vw;
}
.component-right a {
  margin-left: 0.3vw;
}
.number-phone {
  font-weight: 300;
  font-size: 20px;
  line-height: calc(27/20*100%);
}
.icon-menu {
  display: none;
}
@media (max-width: 480px) {
  .component-left .menu-list {
    display: none;
  }
  .icon-menu {
    display: flex;
  }
  .like-basket {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 32vw;
  }
  .number-phone {
    font-size: 10px;
    line-height: calc(27/20*100%);
  }
}
footer {
  background-color: #B9AC92;
  flex-direction: row;
  padding: 7vh 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
}
footer h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 4vh;
}
footer a {
  margin: 0.7vh 0;
}
footer nav,
.like-cart,
.data,
.e-mail {
  display: inline-flex;
  flex-direction: column;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3vh;
}
.contact a {
  margin: 0 0.5vw;
}
.e-mail a {
  margin-bottom: 0.3vh;
}
.icon-facebook,
.icon-instagram,
.icon-telegram {
  font-size: 40px;
}
input[type="email"] {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 2% 3%;
  width: 100%;
  background: #D9D9D9;
}
.back {
  margin: 2vh 0;
}
.back a {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #968F82;
}
.name-page {
  margin: 3vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: none;
  border-top: 3px solid #968F82;
  width: 5vw;
}
h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  margin: 0 2vw;
}
.name-page hr {
  border: none;
  border-top: 3px solid #968F82;
  width: 20%;
}
.product {
  display: flex;
  margin: 5% 0;
}
.product .description {
  margin-left: 3%;
  padding: 7% 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product a {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  width: 40%;
  text-transform: uppercase;
}
.product h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #B9AC92;
}
.product button {
  background: none;
  border: 1px solid #968F82;
  border-radius: 3px;
  padding: 0 4%;
  font-weight: 300;
  font-size: 21px;
  color: #968F82;
}
.number {
  display: flex;
  flex-direction: row;
  width: 15%;
}
.number .square {
  background: #ECECEC;
  padding: 3% 10%;
  border: 1px solid #968F82;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 400;
  font-size: 21.4214px;
  line-height: 29px;
  color: #968F82;
}
.number span {
  margin: 3% 15%;
  font-weight: 300;
  font-size: 21.4214px;
  line-height: 29px;
  color: #968F82;
}
.total-price-line {
  display: flex;
  justify-content: right;
}
.total-price hr {
  border: none;
  border-top: 1px solid #968F82;
  width: 30%;
}
.total-price-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2%;
}
.total-price p {
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;
  color: #968F82;
}
.total-price span {
  margin-left: 1%;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #B9AC92;
}
.ordering div {
  margin: 5% 0;
}
.ordering-data {
  display: flex;
  flex-direction: column;
}
.ordering h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 3vh;
}
.ordering p {
  font-weight: 400;
  font-size: 30px;
  color: #968F82;
  margin: 2% 0;
}
.ordering-button {
  text-align: right;
}
.ordering-button button {
  background: none;
  border: 2px solid #412F0E;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 1% 2%;
  font-weight: 400;
  font-size: 35px;
}
.ordering input[type="text"],
input[type="tel"] {
  margin: 1% 0;
  background: none;
  border: 1px solid #968F82;
  padding: 1%;
  width: 26.3vw;
  font-weight: 400;
  font-size: 20px;
  color: #412F0E;
}
::-webkit-input-placeholder {
  color: #B9AC92;
}
.ordering input[name="number-department"] {
  margin-left: 1%;
}
label {
  cursor: pointer;
}
.ordering input[type="radio"] {
  -webkit-appearance: none;
  border: none;
  width: 25px;
  height: 25px;
  background: url(../img/basket/rectangle0.svg) left center no-repeat;
  background-size: 15px;
}
.ordering input[type="radio"]:checked {
  background: url(../img/basket/rectangle.svg) left center no-repeat;
}
/*# sourceMappingURL=basket.css.map */