@import "removal.css";
@import "bootstrap-grid.min.css";
@import "icons.css";
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0OIpQlx3QUlC5A4PNjhjRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjThZlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjFhdlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjOhBlYw.ttf) format('truetype');
}
* {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  color: #412F0E;
}
body {
  background-color: #ECECEC;
}
.container {
  background: none;
  width: 1200px;
  padding: 0;
}
.image {
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 320px;
  }
}
header {
  display: flex;
  background-color: #B9AC92;
  height: 10vh;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  margin: 0 0 0 2.5vw;
}
.component-left .menu-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.menu-item:not(:last-child) {
  margin: 0 2.5vw 0 0;
}
.menu-link {
  font-weight: 400;
  font-size: 25px;
  line-height: calc(34 / 25 * 100%);
}
.component-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.component-right {
  display: flex;
  align-items: center;
  justify-content: right;
}
.like-basket {
  font-size: 40px;
  margin-left: 0.5vw;
}
.component-right a {
  margin-left: 0.3vw;
}
.number-phone {
  font-weight: 300;
  font-size: 20px;
  line-height: calc(27/20*100%);
}
.icon-menu {
  display: none;
}
@media (max-width: 992px) {
  .menu-link {
    font-size: 15px;
    line-height: 20px;
  }
  .like-basket {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    width: 45%;
  }
  .number-phone {
    font-size: 15px;
    line-height: 20px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .component-left .menu-list {
    display: none;
  }
  .icon-menu {
    display: flex;
  }
  .like-basket {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 45%;
  }
  .number-phone {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .like-basket {
    font-size: 30px;
    width: 45%;
  }
  .number-phone {
    width: 50%;
    font-size: 10px;
    line-height: 15px;
  }
}
footer {
  background-color: #B9AC92;
  flex-direction: row;
  padding: 7vh 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
}
footer h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 4vh;
}
footer a {
  margin: 0.7vh 0;
}
footer nav,
.like-cart,
.data,
.e-mail {
  display: inline-flex;
  flex-direction: column;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3vh;
}
.contact a {
  margin: 0 0.5vw;
}
.e-mail a {
  margin-bottom: 0.3vh;
}
.icon-facebook,
.icon-instagram,
.icon-telegram {
  font-size: 40px;
}
input[type="email"] {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 2% 3%;
  width: 100%;
  background: #D9D9D9;
}
@media (max-width: 1200px) {
  footer {
    font-size: 20px;
    line-height: 30px;
  }
  footer h2 {
    font-size: 35px;
    line-height: 50px;
  }
  input[type="email"] {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  footer {
    font-size: 17px;
    line-height: 25px;
  }
  footer h2 {
    font-size: 30px;
    line-height: 40px;
  }
  input[type="email"] {
    font-size: 15px;
    line-height: 20px;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 17px;
    line-height: 20px;
    justify-content: space-between;
  }
  .name-footer {
    display: flex;
    justify-content: center;
  }
  footer h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .e-mail {
    text-align: center;
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .mail a {
    font-size: 17px;
    line-height: 10px;
  }
  input[type="email"] {
    font-size: 15px;
    line-height: 17px;
    width: 90%;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
    line-height: 12px;
  }
  footer h2 {
    font-size: 15px;
    line-height: 23px;
  }
  .mail a {
    font-size: 8px;
    line-height: 10px;
  }
  input[type="email"] {
    font-size: 6px;
    line-height: 7px;
    width: 80%;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 20px;
  }
}
.back {
  margin: 2vh 0;
}
.back a {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #968F82;
}
.name-page {
  margin: 3vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: none;
  border-top: 3px solid #968F82;
  width: 7vw;
}
h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  margin: 0 2vw;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
  align-items: center;
}
.filter a {
  display: flex;
  align-items: center;
}
.icon-filter {
  font-size: 35px;
}
.filter span {
  font-weight: 300;
  font-size: 25px;
  color: #968F82;
}
.order-price {
  width: 28%;
}
select {
  background: url("../img/catalog/arrow-down.svg") no-repeat calc(100% - 0.5em) 0.6em;
  border: 1px solid #968F82;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 300;
  font-size: 25px;
  line-height: 41px;
  color: #968F82;
  padding: 0.5vh 1.5vw;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
.catalog-box {
  margin: 2% 0;
  justify-content: space-between;
}
.product-info {
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.product-info a {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  width: 50%;
}
.product-info h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
}
.product button {
  background: none;
  border: 1px solid #412F0E;
  width: 100%;
  border-radius: 5px;
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
}
.product {
  margin-bottom: 8%;
  padding: 0;
  width: 32%;
}
.more {
  text-align: center;
  margin-bottom: 8%;
}
.icon-more {
  font-size: 27px;
  margin-right: 4%;
}
.more button {
  width: 15%;
  background: none;
  border: 1px solid #968F82;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}
.more button span {
  font-weight: 300;
  font-size: 26px;
  line-height: 36px;
  color: #968F82;
}
@media (max-width: 1200px) {
  .back a {
    font-size: 18px;
    line-height: 25px;
  }
  hr {
    border-top: 2px solid #968F82;
  }
  h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .filter span {
    font-size: 20px;
  }
  select {
    font-size: 20px;
  }
  .product-info a {
    font-size: 18px;
    line-height: 24px;
  }
  .product-info h4 {
    font-size: 23px;
    line-height: 34px;
  }
  .product button {
    font-size: 25px;
    line-height: 41px;
  }
  .icon-more {
    font-size: 25px;
    margin-right: 4%;
  }
  .more button span {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 992px) {
  .back a {
    font-size: 15px;
    line-height: 25px;
  }
  h1 {
    font-size: 35px;
    line-height: 55px;
  }
  .filter span {
    font-size: 17px;
    line-height: 25px;
  }
  .icon-filter {
    font-size: 30px;
  }
  select {
    font-size: 17px;
    line-height: 25px;
  }
  .product-info a {
    font-size: 14px;
    line-height: 17px;
  }
  .product-info h4 {
    font-size: 17px;
    line-height: 20px;
  }
  .product button {
    font-size: 20px;
    line-height: 35px;
  }
  .icon-more {
    font-size: 20px;
    margin-right: 4%;
  }
  .more button span {
    font-size: 17px;
    line-height: 34px;
  }
}
@media (max-width: 768px) {
  .name-page hr {
    border-top: 1px solid #968F82;
  }
  .filter span {
    font-size: 15px;
    line-height: 25px;
  }
  .icon-filter {
    font-size: 25px;
  }
  select {
    font-size: 12px;
    line-height: 25px;
  }
  .product-info a {
    font-size: 13px;
    line-height: 15px;
  }
  .product-info h4 {
    font-size: 15px;
    line-height: 20px;
  }
  .product button {
    margin-top: 6%;
    font-size: 15px;
    line-height: 25px;
  }
  .icon-more {
    font-size: 15px;
    margin-right: 4%;
  }
  .more button span {
    font-size: 15px;
    line-height: 34px;
  }
}
@media (max-width: 576px) {
  .back a {
    font-size: 13px;
    line-height: 18px;
  }
  .name-page hr {
    border-top: 1px solid #968F82;
  }
  .name-page h1 {
    font-size: 18px;
    line-height: 25px;
  }
  .icon-filter {
    font-size: 15px;
  }
  .filter span {
    font-size: 10px;
    line-height: 14px;
    color: #968F82;
  }
  select {
    background: url("../img/catalog/ep_arrow-down-mobile.svg") no-repeat calc(100% - 1.2em) 0.8em;
    border: 0.3px solid #968F82;
    border-radius: 2px;
    font-size: 9px;
    line-height: 12px;
    padding: 0.5vh 2vw;
    width: 100%;
  }
  .catalog-box .product:last-child {
    display: none;
  }
  .product {
    width: 48%;
  }
  .product-info a {
    width: 60%;
    font-size: 9px;
    line-height: 11px;
  }
  .product-info h4 {
    font-size: 11px;
    line-height: 15px;
  }
  .product button {
    border: 0.8px solid #412F0E;
    width: 100%;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
  }
  .icon-more {
    font-size: 10px;
  }
  .more button {
    width: 20%;
    border: 0.8px solid #968F82;
    border-radius: 2px;
    align-items: center;
  }
  .more button span {
    font-size: 10px;
    line-height: 14px;
  }
}
/*# sourceMappingURL=catalog.css.map */