@import "header";
@import "footer";

.back {
  margin: 2vh 0;
}

.back a {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: @color-brand3;
}

.name-page {
  margin: 3vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  border-top: 3px solid @color-brand3;
  width: 7vw;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  margin: 0 2vw;
}
.products{
  margin:10vh 0;
}
.product{
  display: flex;
  flex-direction: row;
  margin: 4vh 0;
}
.product-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 3vw;
}
.product a{
  width: 18vw;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-transform: uppercase;
}
.product p{
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: @color-brand2;
}
.product-button{

  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 20vw;
}
.product button{
  margin-left: 2%;
  padding: 0.5vh 2vw;
  background: none;

  border: 1px solid @color-brand3;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: @color-brand3;
}