@import "removal.css";
@import "bootstrap-grid.min.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600&display=swap');
@import "icons.css";

@color-brand1: #412F0E;
@color-brand2: #B9AC92;
@color-brand3: #968F82;


* {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  //font-size: 20px;
  color: @color-brand1;
}

body {
  background-color: #ECECEC;
}

.container{
  background: none;
  width: 1200px;
  padding: 0;
}

