@import "removal.css";
@import "bootstrap-grid.min.css";
@import "icons.css";
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0OIpQlx3QUlC5A4PNjhjRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjThZlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjFhdlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v26/o-0NIpQlx3QUlC5A4PNjOhBlYw.ttf) format('truetype');
}
* {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  color: #412F0E;
}
body {
  background-color: #ECECEC;
}
.container {
  background: none;
  width: 1200px;
  padding: 0;
}
.image {
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 320px;
  }
}
header {
  display: flex;
  background-color: #B9AC92;
  height: 10vh;
  align-items: center;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-menu {
  margin: 0 0 0 2.5vw;
}
header .component-left .menu-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
header .menu-item:not(:last-child) {
  margin: 0 2.5vw 0 0;
}
header .menu-link {
  font-weight: 400;
  font-size: 25px;
  line-height: calc(34 / 25 * 100%);
}
header .component-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
header .component-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .like-basket i {
  margin-left: 0.5vw;
}
header .like-basket {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  margin-left: 0.5vw;
}
header .number-phone {
  font-weight: 300;
  font-size: 20px;
  line-height: calc(27 / 20 * 100%);
}
header #sidebar .toggle-btn {
  display: none;
}
header #sidebar .box-menu {
  display: none;
}
header #sidebar {
  display: none;
}
@media (max-width: 992px) {
  header .menu-link {
    font-size: 15px;
    line-height: 20px;
  }
  header .like-basket {
    display: flex;
    font-size: 40px;
    width: 45%;
  }
  header .number-phone {
    font-size: 15px;
    line-height: 20px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  header .component-left .menu-list {
    display: none;
  }
  header #sidebar {
    display: block;
  }
  header #sidebar .toggle-btn {
    display: flex;
  }
  header #sidebar .box-menu {
    display: none;
    position: absolute;
    top: 10vh;
    width: 80vw;
    background: #D9D9D9;
    border: 0.5px solid #412F0E;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
  }
  #sidebar .close {
    margin-top: 1vh;
    height: 3vh;
    position: relative;
    display: inline;
    left: 93%;
  }
  #sidebar hr {
    width: 100%;
    height: 0.5px;
    background: #412F0E;
  }
  #sidebar ul li:first-child {
    text-align: center;
    line-height: 5vh;
    align-items: center;
    color: #412F0E;
    font-size: 20px;
    list-style: none;
    margin-bottom: 0.7vh;
    font-weight: 400;
  }
  #sidebar ul li:not(:first-child) {
    text-align: center;
    list-style: none;
    padding: 12px 0;
  }
  #sidebar ul li a {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #412F0E;
  }
  #sidebar.active {
    display: block;
  }
  #sidebar.active .toggle-btn {
    display: none;
  }
  #sidebar.active .box-menu {
    display: block;
    z-index: 1000;
  }
}
@media (max-width: 576px) {
  header .like-basket {
    font-size: 30px;
    width: 20%;
  }
  header .number-phone {
    width: 50%;
    font-size: 10px;
    line-height: 15px;
  }
  header #sidebar .box-menu {
    display: none;
    position: absolute;
    top: 10vh;
    width: 70vw;
    background: #D9D9D9;
    border: 0.5px solid #412F0E;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
  }
}
footer {
  background-color: #B9AC92;
  flex-direction: row;
  padding: 7vh 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
}
footer h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 4vh;
}
footer a {
  margin: 0.7vh 0;
}
footer nav,
.like-cart,
.data,
.e-mail {
  display: inline-flex;
  flex-direction: column;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3vh;
}
.contact a {
  margin: 0 0.5vw;
}
.e-mail a {
  margin-bottom: 0.3vh;
}
.icon-facebook,
.icon-instagram,
.icon-telegram {
  font-size: 40px;
}
input[type="email"] {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 2% 3%;
  width: 100%;
  background: #D9D9D9;
}
@media (max-width: 1200px) {
  footer {
    font-size: 20px;
    line-height: 30px;
  }
  footer h2 {
    font-size: 35px;
    line-height: 50px;
  }
  input[type="email"] {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  footer {
    font-size: 17px;
    line-height: 25px;
  }
  footer h2 {
    font-size: 30px;
    line-height: 40px;
  }
  input[type="email"] {
    font-size: 15px;
    line-height: 20px;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 17px;
    line-height: 20px;
    justify-content: space-between;
  }
  .name-footer {
    display: flex;
    justify-content: center;
  }
  footer h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .e-mail {
    text-align: center;
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .mail a {
    font-size: 17px;
    line-height: 10px;
  }
  input[type="email"] {
    font-size: 15px;
    line-height: 17px;
    width: 90%;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
    line-height: 12px;
  }
  footer h2 {
    font-size: 15px;
    line-height: 23px;
  }
  .mail a {
    font-size: 8px;
    line-height: 10px;
  }
  input[type="email"] {
    font-size: 6px;
    line-height: 7px;
    width: 80%;
  }
  .icon-facebook,
  .icon-instagram,
  .icon-telegram {
    font-size: 20px;
  }
}
.first {
  position: relative;
  padding: 2% 0;
}
.one {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.text-info {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  margin: 10% 0;
}
.first h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
}
.first span {
  margin: 5% 0;
  padding-right: 10%;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  z-index: 50;
}
.first button {
  background: none;
  border: 2px solid #412F0E;
  border-radius: 10px;
  width: 55%;
  padding: 1% 3%;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  z-index: 60;
}
.photo1 {
  width: 40%;
  z-index: 20;
}
.photo2 {
  position: relative;
  width: 60%;
  top: -5%;
  left: 60%;
  z-index: 30;
}
/*----Каталог-----------------------------------------------*/
.catalog-row {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
.product {
  width: 26%;
}
.product-info {
  display: flex;
  justify-content: space-between;
}
.im {
  width: 45.5%;
}
.product a {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 55%;
}
.product h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
}
.go-to-catalog {
  display: flex;
  justify-content: center;
}
.go-to-catalog-line {
  width: 37%;
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.go-to-catalog a {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
}
.go-to-catalog hr {
  margin-top: 1%;
  border: none;
  border-top: 3px solid #B9AC92;
  width: 100%;
}
/*----Сертифікати--------------------------*/
.certificate {
  margin-bottom: 10%;
}
.certificate-row1 {
  display: flex;
  flex-direction: row;
  margin: 3% 0;
  width: 100%;
}
.certificate .more-info {
  display: none;
}
.certificate-row2 {
  display: flex;
  margin: 3% 0;
  width: 100%;
}
.certificate-image {
  width: 45%;
}
.certificate span {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
  padding: 1.5% 0;
}
.certificate-info {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-left: 4%;
}
.list {
  list-style-type: square;
  padding-left: 2.5%;
  width: 55%;
}
.list li {
  padding: 4% 0;
  color: #968F82;
  font-size: 35px;
}
.go-to-certificate a {
  font-weight: 500;
  font-size: 35px;
  margin: 0 1%;
}
.go-to-certificate hr {
  margin-top: 1%;
  border: none;
  border-top: 3px solid #B9AC92;
  width: 34%;
  text-align: center;
}
/*----Онлайн-консультація-----------------------*/
.online-consultation {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  text-align: center;
}
.box {
  background: #D9D9D9;
  border: 2px solid #968F82;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2% 3%;
}
.box h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 3%;
  text-align: center;
}
.answer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 15%;
}
.box input[type="tel"] {
  background: #ECECEC;
  padding: 3.5% 5%;
  width: 18vw;
  border-radius: 0;
  transition: 0.25s;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #412F0E;
}
.box input[type="tel"]:focus {
  border: 1px solid #968F82;
}
.call {
  background: #B9AC92;
  padding: 1% 3%;
}
.icon-call {
  font-size: 25px;
}
::-webkit-input-placeholder {
  color: #B9AC92;
}
@media (max-width: 1200px) {
  .first h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .first span {
    font-size: 25px;
    line-height: 41px;
    z-index: 50;
  }
  .first button {
    background: none;
    border: 1px solid #412F0E;
    border-radius: 10px;
    width: 55%;
    padding: 1% 3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    z-index: 60;
  }
  .photo2 {
    top: -10%;
  }
  /*----Каталог-------------*/
  .product a {
    font-size: 15px;
    line-height: 18px;
  }
  .product h4 {
    font-size: 20px;
    line-height: 25px;
  }
  .go-to-catalog a {
    font-size: 30px;
  }
  .go-to-catalog hr {
    border-top: 1px solid #B9AC92;
  }
  /*----Сертифікати--------------------------*/
  .certificate span {
    font-size: 25px;
    line-height: 35px;
  }
  .list li {
    font-size: 25px;
  }
  .go-to-certificate a {
    font-size: 30px;
  }
  /*----Онлайн-консультація-----------------------*/
  .box h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .box input[type="tel"] {
    padding: 3.5% 5%;
    width: 70%;
    border-radius: 0;
    transition: 0.25s;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #412F0E;
  }
  .box input[type="tel"] {
    padding: 4% 5%;
    width: 25vw;
    font-size: 15px;
    line-height: 17px;
  }
  .box input[type="tel"]:focus {
    border: 0.5px solid #968F82;
  }
  .call {
    background: #B9AC92;
    padding: 1% 3%;
  }
  .icon-call {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .first h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .first span {
    font-size: 20px;
    line-height: 30px;
    z-index: 50;
  }
  .first button {
    border-radius: 7px;
    font-size: 20px;
    line-height: 35px;
    z-index: 60;
  }
  .photo2 {
    top: -10%;
  }
  /*----Каталог-------------*/
  .product a {
    font-size: 12px;
    line-height: 15px;
  }
  .product h4 {
    font-size: 17px;
    line-height: 20px;
  }
  .go-to-catalog a {
    font-size: 25px;
  }
  .go-to-catalog hr {
    border-top: 1px solid #B9AC92;
  }
  /*----Сертифікати--------------------------*/
  .certificate span {
    font-size: 20px;
    line-height: 25px;
  }
  .list li {
    font-size: 20px;
  }
  .go-to-certificate a {
    font-size: 25px;
  }
  .go-to-certificate hr {
    width: 40%;
    border-top: 1px solid #B9AC92;
  }
  /*----Онлайн-консультація-----------------------*/
  .box h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .box input[type="tel"] {
    font-size: 15px;
    line-height: 20px;
    color: #412F0E;
  }
  .box input[type="tel"] {
    padding: 4% 5%;
    width: 30vw;
    font-size: 13px;
    line-height: 17px;
  }
  .box input[type="tel"]:focus {
    border: 0.5px solid #968F82;
  }
  .call {
    background: #B9AC92;
    padding: 1% 3%;
  }
  .icon-call {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .first span {
    font-size: 18px;
    line-height: 25px;
    z-index: 50;
  }
  .first button {
    border-radius: 7px;
    font-size: 15px;
    line-height: 30px;
    z-index: 60;
  }
  /*----Каталог-------------*/
  .product {
    width: 48%;
  }
  .im {
    display: none;
    width: 0;
  }
  .product a {
    font-size: 15px;
    line-height: 18px;
  }
  .product h4 {
    font-size: 15px;
    line-height: 18px;
  }
  .go-to-catalog a {
    font-size: 17px;
  }
  .go-to-catalog hr {
    border-top: 1px solid #B9AC92;
  }
  .go-to-catalog {
    margin-bottom: 3vh;
  }
  /*----Сертифікати--------------------------*/
  .certificate-row1 {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    width: 100%;
  }
  .certificate-row2 {
    display: none;
  }
  .certificate-image {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .certificate-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin: 4% 0;
  }
  .certificate span {
    font-size: 19px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  .certificate .more-info {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    font-size: 19px;
    line-height: 24px;
  }
  .more-info hr {
    width: 33%;
    border-top: 1px solid #B9AC92;
  }
  .go-to-certificate a {
    display: none;
    font-size: 17px;
  }
  .go-to-certificate hr {
    display: none;
    width: 40%;
    border-top: 1px solid #B9AC92;
  }
  /*----Онлайн-консультація-----------------------*/
  .box h1 {
    font-size: 17px;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .first {
    height: 100%;
    padding-bottom: 50%;
  }
  .text-info {
    margin: 10% 0;
  }
  .first h1 {
    font-size: 18px;
    line-height: 25px;
  }
  .photo1 {
    position: relative;
    display: block;
    margin-top: 25%;
    width: 75%;
  }
  .photo2 {
    position: absolute;
    display: block;
    width: 60%;
    left: 0;
    top: 60%;
  }
  .first span {
    position: absolute;
    top: 15%;
    font-size: 15px;
    line-height: 20px;
    padding-right: 0;
    width: 55%;
    z-index: 50;
  }
  .first button {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    border: 0.7px solid #412F0E;
    border-radius: 5px;
    width: 60%;
    padding: 1% 3%;
    font-size: 15px;
    line-height: 21px;
  }
  /*----Каталог----------------------------------------*/
  .catalog-row {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
  }
  .product a {
    font-size: 10px;
    line-height: 13px;
  }
  .product h4 {
    font-size: 10px;
    line-height: 13px;
  }
  .go-to-catalog a {
    font-size: 10px;
    line-height: 20px;
  }
  .go-to-catalog hr {
    border-top: 1px solid #B9AC92;
  }
  /*----Сертифікати-------------------------------------*/
  .certificate span {
    font-size: 11px;
    line-height: 15px;
    padding-left: 2%;
  }
  .go-to-certificate {
    display: flex;
    justify-content: center;
  }
  .certificate .more-info {
    font-size: 11px;
    line-height: 15px;
  }
  /*----Онлайн-консультація------------------------------*/
  .box {
    border: 1px solid #968F82;
    border-radius: 4px;
    text-align: center;
  }
  .box h1 {
    font-size: 12px;
    line-height: 17px;
  }
  .box input[type="tel"] {
    padding: 4% 5%;
    width: 27vw;
    font-size: 8px;
    line-height: 11px;
  }
  .box input[type="tel"]:focus {
    border: 0.5px solid #968F82;
  }
  .call {
    background: #B9AC92;
    padding: 1% 3%;
  }
  .icon-call {
    font-size: 10px;
  }
}
/*# sourceMappingURL=index.css.map */